@page
@model EidCredentialsIssuer.Pages.EidDataCredentialsModel
@{
}

<h3>@Model.EidDataMessage</h3>
<br />
<br />

@if (Model.HasEidData)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="qr" id="qrCode"></div>
            </div>
            <div class="col-sm">
                <div>
                    <i class="fa fa-passport fa-9x" aria-hidden="true"></i>
                    <div style="padding-top:15px;">
                        <b>E-ID Data: @Html.DisplayFor(model => model.EidData.FamilyName)</b>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">Family Name</dt>
                            <dd class="col-sm-8">
                                @Model.EidData.FamilyName
                            </dd>
                            <dt class="col-sm-4">Given Name</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.EidData.GivenName)
                            </dd>
                            <dt class="col-sm-4">Date of Birth</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.EidData.DateOfBirth)
                            </dd>
                            <dt class="col-sm-4">Birth Place</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.EidData.BirthPlace)
                            </dd>
                            <dt class="col-sm-4">Height</dt>
                            <dd class="col-sm-8">
                                @Model.EidData.Height
                            </dd>
                            <dt class="col-sm-4">Nationality</dt>
                            <dd class="col-sm-8">
                                @Model.EidData.Nationality
                            </dd>
                            <dt class="col-sm-4">Gender</dt>
                            <dd class="col-sm-8">
                                @Model.EidData.Gender
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/js/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.CredentialOfferUrl)",
                width: 300,
                height: 300
            });

    $(document).ready(() => {
    });

    </script>
}
