@page
@model CountyResidenceCredentialsIssuer.Pages.EidDataCredentialsModel
@{
}

<h3>@Model.CountyResidenceDataMessage</h3>
<br />
<br />

@if (Model.HasCountyResidenceData)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="qr" id="qrCode"></div>
            </div>
            <div class="col-sm">
                <div>
                    <i class="fa fa-passport fa-9x" aria-hidden="true"></i>
                    <div style="padding-top:15px;">
                        <b>County Residence Data: @Html.DisplayFor(model => model.CountyResidenceData.FamilyName)</b>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">Family Name</dt>
                            <dd class="col-sm-8">
                                @Model.CountyResidenceData.FamilyName
                            </dd>
                            <dt class="col-sm-4">Given Name</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CountyResidenceData.GivenName)
                            </dd>
                            <dt class="col-sm-4">Date of Birth</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CountyResidenceData.DateOfBirth)
                            </dd>
                            <dt class="col-sm-4">Address Country</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CountyResidenceData.AddressCountry)
                            </dd>
                            <dt class="col-sm-4">Address Locality</dt>
                            <dd class="col-sm-8">
                                @Model.CountyResidenceData.AddressLocality
                            </dd>
                            <dt class="col-sm-4">Address Region</dt>
                            <dd class="col-sm-8">
                                @Model.CountyResidenceData.AddressRegion
                            </dd>
                            <dt class="col-sm-4">Street Address</dt>
                            <dd class="col-sm-8">
                                @Model.CountyResidenceData.StreetAddress
                            </dd>
                            <dt class="col-sm-4">Postal Code</dt>
                            <dd class="col-sm-8">
                                @Model.CountyResidenceData.PostalCode
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/js/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.CredentialOfferUrl)",
                width: 300,
                height: 300
            });

    $(document).ready(() => {
    });

    </script>
}
